.card {
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* box-shadow: 0 0 4px #B1C9EF; */
    background-color: #B1C9EF;   
}

.custom-container {
    background-color: #638ECB;
    height: 100vh;
}

.custom-button {
    background-color: #0a07d1;
    border: node;
    color: white;
}

.custom-tag{
    color: #020073;

}