<div class="custom-container">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign Up</h1>
                    <h6>Register Yourself !!</h6>
                </div>
                <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                    <div class="mb-3 mt-3">
                        <label for="fullName" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="fullName" placeholder="Full name" formControlName="fullName">
                        <span class="text-danger" *ngIf="signupForm.hasError('required', 'fullName') && signupForm.controls['fullName'].dirty">*Full name is required.</span>
                    </div>
                    <div class="mb-3">
                        <label for="mobileNumber" class="form-label">Mobile Number</label>
                        <input type="number" class="form-control" id="mobileNumber" placeholder="Mobile number" formControlName="mobile">
                        <span class="text-danger" *ngIf="signupForm.hasError('required', 'mobile') && signupForm.controls['mobile'].dirty">*Mobile number is required.</span>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" formControlName="email">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        <span class="text-danger" *ngIf="signupForm.hasError('required', 'email') && signupForm.controls['email'].dirty">*Email is required.</span>
                        <span class="text-danger" *ngIf="signupForm.hasError('email', 'email')">*Email is invalid</span>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
                        <span class="text-danger" *ngIf="signupForm.hasError('required', 'password') && signupForm.controls['password'].dirty">*Password is required.</span>
                    </div>
                    <div class="d-grid mt-4">
                        <button [disabled]="!signupForm.valid" type="submit" class="btn custom-button">Sign Up</button>
                    </div>
                </form>
                <div class="d-flex justify-content-center mt-2">
                    <a routerLink="/login" class="custom-tag">Already registered? Click to Login!!</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>